.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  color: red;
  font-size: 18px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left img, .fighter-preview___right img {
  max-height: 15rem;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-data {
  display: flex;
  flex-wrap: wrap;
}


.fighter-characteristics {
  width: 18px;
  color:red;
  font-size: 15px;

}

.fighter-preview-name {
  padding-left: 200px;
  color: red;
}